<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ site.url }}">
        <div data-tilt data-tilt-reverse="true" data-tilt-scale="1.1" data-tilt-max="40" data-tilt-speed="1000" data-tilt-perspective="1000" class="img-wrapper"><img class="img-circle " src="{{ "/assets/UJMknJN.gif" | prepend: site.url }}"></img></div>
      </a>
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}" onclick="ga('send', 'event', 'Sidebar', 'Open-Home-From', '{{ page.url }}}', 10, { 'nonInteraction': 1 });">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}" onclick="ga('send', 'event', 'Sidebar', 'Open-{{ node.title }}', '{{ node.url }}}', 10, { 'nonInteraction': 1 });">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>
  </div>
</div>
