/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

/**
 * Color Helpers
 */
.bg-black {
  background-color: $color-black;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-white {
  background-color: $color-white;
}

#disqus_thread {
  opacity: 0.1;
}

@keyframes tovisible {
  from { opacity: 0.1; }
  to { opacity: 1; }
}

#disqus_thread:hover {
  opacity: 1;
  animation-name: tovisible;
  animation-duration: 0.5s;
}